<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>openChat</title>
</head>
<body class="m-0 h-screen">
  <div class="flex flex-col w-full h-full">
    <!-- Header modificado para llegar hasta arriba -->
    <div class="h-[65px] p-4 flex items-center justify-center bg-[var(--color-user)] relative">
      <button id="closeChatBtn" class="md:hidden flex absolute left-4 px-3 py-1 bg-[var(--color-dark)] text-white rounded hover:bg-opacity-90 transition duration-200 z-20">
        <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" class="stroke-[#b0d07e]">
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" d="M11 6L5 12M5 12L11 18M5 12H19"></path>
        </svg>
      </button>
      <h2 id="chatHeader" class="title-font font-bold text-[var(--color-headers)]"></h2>
      <!-- El enlace empieza 80px desde la izquierda para dejar espacio al botón -->
      <a id="groupOptions" href="#" class="hidden absolute top-0 left-[80px] w-[calc(100%-80px)] h-full"></a>
    </div>
  
    <div id="messagesContainer" class="flex-1 overflow-y-auto p-4 bg-[var(--color-base)] flex flex-col">
      <!-- Los mensajes se cargarán dinámicamente -->
    </div>

    <div class="flex px-4 py-3 rounded-md border-2 border-[var(--color-chats)] overflow-hidden bg-[var(--color-border)]">
      <textarea type="text" id="newMessageInput" placeholder="Escribe un mensaje... " autocomplete="off" list="none"
             class="flex-1 outline-none bg-transparent text-[var(--color-dark)] mini-font-size resize-none" rows="1"></textarea>
      <a href="#_" id="sendMessageBtn" class="flex items-center justify-center px-4 py-2 base-font-size font-medium leading-6 text-gray-500 whitespace-no-wrap bg-[var(--color-border)] border-2 border-[var(--color-headers)] rounded-full shadow-sm hover:bg-transparent hover:text-[var(--color-text)] hover:border-[var(--color-text)] focus:outline-none">
        Enviar
      </a>
    </div>
  </div>
</body>
</html>