@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* ========== MODO CLARO (light) ========== */
 :root {
    --color-user: #a1c49d;    /* Fondo contenedor */
    --color-other: #e9cae9;
    --color-dark: #586642;   /* Botones / detalles oscuros */
    --color-headers: #454941;/* P.ej. para focus ring */
    --color-base: #fffefc;   /* Fondo de la página */
    --color-chats: #f3e3f3;
    
    /* Variables para texto y bordes en modo claro */
    --color-text: #000000;   /* Texto principal en modo claro */
    --color-border: #d9d3d8; /* Bordes en modo claro */
    --color-alert: #dd0088;  /* Color de alerta */
  }

  /* ========== MODO OSCURO (dark) ========== */
  :root[data-theme="dark"] {
    --color-user: #5b6a57;    /* Ejemplo contenedor más oscuro */
    --color-other: #916f91;
    --color-dark: #a6bcab;    /* Botones en modo oscuro */
    --color-headers: #d2ecd8; /* Para focus ring en modo oscuro */
    --color-base:  #272532; /* Fondo de la página en modo oscuro */
    --color-chats: #292229;
    /* Texto y bordes en modo oscuro */
    --color-text: #ffffff;    /*o Texto principal en modo oscuro */
    --color-border: #4f4f4f;  /* Bordes en modo oscuro */
    --color-alert: #dd0088;  /* Color de alerta */
  }
  :root[data-theme="highContrast"] {
    --color-user: #4DAF7C;   /* Verde vibrante, pero sin ser fluorescente */
    --color-other: #D381C3;  /* Lila intenso, pero suave a la vista */
    --color-dark: #003366;   /* Azul oscuro para botones/detalles */
    --color-headers: #000000; /* Negro puro para encabezados */
    --color-base: #FFFFFF;    /* Fondo blanco puro */
    --color-chats: #F2F2F2;   /* Fondo gris claro para diferenciar chats */
    --color-text: #000000;    /* Texto negro puro */
    --color-border: #9a9898;  /* Bordes oscuros */
    --color-alert: #dd0088;  /* Color de alerta */
  }

  :root {
    --title-font: 1.5rem;
    --base-font-size: 1.1rem;
    --mini-font-size: 0.8rem;
  }
  :root {
    --font-titles: 'Poppins', sans-serif; /* Para títulos y botones */
    --font-body: 'Lato', serif;          /* Para cuerpo de texto */
    --font-dates: 'Poppins', sans-serif;   /* Para fechas y horas (usa font-weight: 300 para light) */
  }

    /* ========== SCROLL BAR ========== */
/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 8px; /* ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-border); /* color de la pista */
}

::-webkit-scrollbar-thumb {
  background: var(--color-user); /* color de la barra */
  border-radius: 4px; /* redondear el pulgar */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* scrollbar delgado */
  scrollbar-color: var(--color-user) var(--color-border); /* primer valor: thumb, segundo: track */
}


 /* Estilos personalizados para el slider range */
 input[type="range"].slider-range {
  -webkit-appearance: none;
  width: 20rem; /* Más grande: 20rem en lugar de 16rem */
  height: 1rem; /* Incrementado a 1rem */
  background: transparent;
  border-radius: 0.5rem; /* rounded-lg */
}
/* Track para WebKit */
input[type="range"].slider-range::-webkit-slider-runnable-track {
  background: var(--color-user);
  height: 1rem;
  border-radius: 0.5rem;
}
/* Track para Firefox */
input[type="range"].slider-range::-moz-range-track {
  background: var(--color-user);
  height: 1rem;
  border-radius: 0.5rem;
}
/* Thumb para WebKit */
input[type="range"].slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem; /* Más grande */
  width: 1.5rem;  /* Más grande */
  border-radius: 50%;
  background: var(--color-dark);
  margin-top: -0.25rem; /* Para centrar el thumb en el track */
}
/* Thumb para Firefox */
input[type="range"].slider-range::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--color-user);
}

  /* ========== ESTILOS DEL TOGGLE UIVERSE (by Galahhad) ========== */

  .btn-custom {
    @apply group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-neutral-200 bg-transparent px-6 font-medium text-neutral-600 transition-all duration-100;
    box-shadow: 5px 5px rgb(82, 82, 82);
  }
  
  .btn-custom:active {
    transform: translateX(3px) translateY(3px);
    box-shadow: 0px 0px rgb(82, 82, 82);
  }
  
  .title-font{
    font-size: var(--title-font);
  }
  .base-font-size{
    font-size: var(--base-font-size);
  }
  .mini-font-size{
    font-size: var(--mini-font-size);
  }

  /* ========== ESTILOS DEL TOGGLE UIVERSE (by Galahhad) ========== */
  .theme-switch {
    --toggle-size: 30px;
    --container-width: 3em;      /* Ancho del toggle */
    --container-height: 1.5em;       /* Alto del toggle */
    --container-radius: 0.755em;
    --container-light-bg: #3D7EAE;   /* Color del contenedor en modo "light" del toggle */
    --container-night-bg: #1D1F2C;   /* Color del contenedor en modo "dark" del toggle */
    --circle-container-diameter: 1.5em;
    --sun-moon-diameter: 1.5em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc(
      (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
    );
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }

  .theme-switch,
  .theme-switch *,
  .theme-switch *::before,
  .theme-switch *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }

  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
      0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
      0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius);
  }

  .theme-switch__checkbox {
    display: none;
  }

  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
      0 0 0 0.625em rgba(255, 255, 255, 0.1),
      0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: flex;
    transition: var(--circle-transition);
    pointer-events: none;
  }

  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #a1872a inset;
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
      drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    transition: var(--transition);
  }

  .theme-switch__moon {
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
      0em -0.062em 0.062em 0em #969696 inset;
    transition: var(--transition);
    position: relative;
  }

  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }

  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    box-shadow: 0.937em 0.312em var(--clouds-color),
      -0.312em -0.312em var(--back-clouds-color),
      1.437em 0.375em var(--clouds-color),
      0.5em -0.125em var(--back-clouds-color),
      2.187em 0 var(--clouds-color),
      1.25em -0.062em var(--back-clouds-color),
      2.937em 0.312em var(--clouds-color),
      2em -0.312em var(--back-clouds-color),
      3.625em -0.062em var(--clouds-color),
      2.625em 0em var(--back-clouds-color),
      4.5em -0.312em var(--clouds-color),
      3.375em -0.437em var(--back-clouds-color),
      4.625em -1.75em 0 0.437em var(--clouds-color),
      4em -0.625em var(--back-clouds-color),
      4.125em -2.125em 0 0.437em var(--back-clouds-color);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }

  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    transition: var(--transition);
  }

  /* Comportamiento al hacer check */
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  .theme-switch__checkbox:checked + .theme-switch__container
    .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  .theme-switch__checkbox:checked + .theme-switch__container
    .theme-switch__circle-container:hover {
    left: calc(
      100% - var(--circle-container-offset) - var(--circle-container-diameter) -
        0.187em
    );
  }
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    transform: translate(0);
  }
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  .theme-switch__checkbox:checked + .theme-switch__container
    .theme-switch__stars-container {
    top: 50%;
    transform: translateY(-50%);
  }